@charset "utf-8";
/* 인트로사이트 메인 CSS - main.css */

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background: url(../images/background.jpg) no-repeat center/cover;

    /* background-image: linear-gradient(to bottom,rgb(133, 255, 188),rgb(255, 255, 234)); */

    /*
    [ 선형 그라데이션 ]
    background-image:
    liner-gradient(방향,색1,색2,색3,....) 
    -방향:
    to top, to left, to right, to bottom*/

}

.wrap{
    border: 1px dashed darkblue;
    background-color: #e4e4e4e1;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.wrap h2 {
    display: inline-block;

    width: 200px;
    height: 100px;
    border: 1px solid darkcyan;
    border-radius: 10%; 
    /* 글자가로 중앙 */
    text-align: center;
    /* 줄간격을 높이값과 같이 주면 세로중앙됨 */
    line-height: 100px;
    font-size: 15px;

    /* a요소 기본 글자색변경, 밑줄 없앰 */
    color: #222;
    text-decoration: none;

    /* 배경색 */
    background-color: #15ff7e;
}
.wrap h2 a{
    color: #222;
    text-decoration: none;
}
.wrap h2:hover{
    color: hotpink;
    background-color: aquamarine;
    box-shadow: 0 0 10px 5px darkblue;
}